.btns {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

button {
    cursor: pointer;
    font-size: 16px;
}

.place-image-wrapper {
    height: 500px;
    width: 60%;
    overflow: hidden;
}

.place-image {
    height: 100%;
    width: 100%;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.img-increase {
    transform: scale(1.5, 1.5);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.hide {
    display: none;
}